<div class="content-wrapper pb-0">
  <div class="col justify-content-center" style="margin-bottom: 10%;  margin-top: 20%;">
    <div class="row justify-content-center">
      <div class="col" style="margin-left:auto;margin-right:auto;text-align:center">
        <div class="row justify-content-center">
          <img src="/assets/images/logo.png" alt="logo" />
        </div>
        <div class="row justify-content-center">
          <h3> Login </h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <form method="POST">
        <div class="col">
          <div class="row">
            <div class="col d-flex justify-content-end">
              <h3> User Name:</h3>
            </div>
            <div class="col">
              <input name="username" type="text" />
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-end">
              <h3> Password:</h3>
            </div>
            <div class="col float-right">
              <input name="password" type="password" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-sm ml-3 btn-success"> <a>Login</a> </button>
                <button type="button" class="btn btn-sm ml-3 btn-success"> <a>Fogot password</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>