<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Category</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Category Detail</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <form class="form-sample" action="/category/setting/detail/add" method="POST">
              <p class="card-description">Category information</p>
              <div class="row">
            
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Category Name</label>
                    <div class="col-sm-9">
                      <input type="text" name="category_name" placeholder="Category Name" class="form-control" value="">
                    </div>
                  </div> 
                </div>
              </div>
              <button type="submit" class="btn btn-primary mr-2" name="category_id" value=""> Add </button>
              <button class="btn btn-light" form="cancel-form">Cancel</button>
            </form>
            <form action="/category/setting" id="cancel-form" method="GET"></form>
          </div>
        </div>
      </div>


    </div>

  </div>